SUPABASE_URL=https://ekumokjetrohjuignxpc.supabase.co/rest/v1/
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVrdW1va2pldHJvaGp1aWdueHBjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExNjQyMzEsImV4cCI6MjA5Njc0MDIzMX0.Po1kKkOvHHqmNxg720Vy5sDSvZUB8cmx3XGvgXZh5Gk
